.Person{
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  padding: 16px;
  text-align: center;
}

.Person.NewListItem{
  animation: change 3s ease both;
}

@keyframes change {
  0%   {background-color: LightGoldenrodYellow;}
  50%  {background-color: LightYellow;}
  100% {background-color: transparent;}
}

.Title{
  font-weight: bold;
  font-size: 22px;
}

.Body{
  font-size: 22px;
}